<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mopsfinalproject">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".RegisterStudentActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".ProfileHomeActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".DataProfileActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".ProjectsActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".TeamsActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".MatchActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".DataProjectActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".DataMatchesProjectsActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".MatchStudentActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".RegisterProjectActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>


    </application>

</manifest>